/*=========================
 Styles for secondary pages
 =========================*/

h1 {
  font-size: 3.5em;
  padding: .5em;
}

.language {
  margin: .35em;
}


#languages {
  background-color: #e2e3e3;
  min-height: 200px;
  color: #2b2b2b;
  justify-content: center;
  align-items: center;
}

#languages-row {
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#projects, #types {
  max-width: 90%;
}

/*=========================
 These ID styles target 'content-square' divs on the secondary pages and use a psuedo element to set a background image with 20% opacity
 =========================*/

#weddings::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/weddings.jpg");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#families::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/families.jpg");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#engagements::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/engagements.jpg");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#kids::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/kids.jpg");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#real-estate::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/real-estate.jpg");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#headshots::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/headshots.jpg");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#flexbox-demo::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/flexbox-demo.png");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#color-picker::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/color-picker.png");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#squares-app::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/squares-app.png");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#job-application::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/job-application.png");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#number-game::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/number-game.png");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

#jquery-demo::before {
  content: "";
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url("images/jquery-demo.png");
  background-size: cover;
  background-position: center;
  opacity: .20;
  z-index: 1;
}

/*=========================
 Media Queries
 =========================*/


 /* Small Breakpoint */

 @media (min-width: 576px) {

   .language {
     margin: 3em;
   }

   #languages-row {
     flex-direction: row;
   }
 }

 /* Medium Breakpoint */


 /* Large Breakpoint */
